@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display&display=swap');

* {
    font-family : Montserrat;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;


 }
 body{
    height: 100%;
 }

.btn-purple{
    background-color: #521945;
    color: #fff;
}

/* header */

.nav-violet{
    background-color:#521945;
  }
  
  .nav-item {
      padding: 1rem;   
  }
  

  /* COULEUR DU TEXTE DANS LE DROPDOWN */
  .dropdown-item {
      color:#521945;
  }
  
  .btn btn-warning{
      background-color: #eceb1e;
      
  }
  .btn a{
    font-weight: 800;
  }
  h4{
        color: #521945;
  }
  
  /* CAROUSSEL */

#carouselExampleCaptions{
    width: 50%;
    margin: auto;
    padding: 20px;
}
.carousel-item active img{
    width: 100%;
    height: auto;
}

.carousel-caption{
    color: #521945;
    font-size: 4rem;
    font-weight: bold;
}


.taille{
    font-family:'Montserrat', sans-serif;
    color:#521945;
    font-weight: 600;
    font-size: 3rem;    
}

/* FOND POUR FAIRE RESSORTIR LE TEXTE SUR LE SLIDER */

.carousel-gradient{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 40%, rgba(0,0,0,.5) 100%);
    z-index: 1;

}
.carousel-gradient-titre{
    z-index: 10;
}


         /* les traits qui entourent nos titres de sections */

.section-titre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, rgba(82,25,69,1) 49%, rgba(82,25,69,1) 51%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%);
    margin: 2.5em;
}
.section-titre h2{
   
    background-color: #fff;
    padding: 1em .5em;

}
                 /* SLOGAN */

.slogan{
    text-align:center;
    color:#521945;
    font-family: 'Playfair Display', serif;
    
}

.qui-sommes-nous{
    padding:10px;
    margin: 40px;
    text-align: justify;
}

.historique{
    padding:10px;
    margin: 40px;
   link

}p.purple {
    color:#521945;
    margin:30px 0 30px 0;
}

.navbar {
--bs-navbar-toggler-icon-bg: url("https://api.iconify.design/material-symbols:menu.svg?color=%23ffffff");
}

#contact{
    color:#521945;
}

h3{
    color:#521945;
    font-weight: bold;
}

#image1{

    background-image: url("../images/LOGO BANLIEUE SANTE.png");
    min-width: auto;
    min-height: auto;
    background-repeat: no-repeat;
    background-size: 50%;
}

a{
    color: #521945;
    text-decoration: none;
    --bs-link-hover-color: none;
    
    
}

a:hover {
    color: #521945;
}
